flujo2.json
[{"id":"ff94088b.1e4ec8","type":"tab","label":"Productor","disabled":false,"info":"# Práctica 4 - MQTT"},{"id":"1c3643f6.f3d7ec","type":"tab","label":"Suscriptor Máximos","disabled":false,"info":""},{"id":"d6ddbd5d.a63ff","type":"tab","label":"Suscriptor Mínimos","disabled":false,"info":""},{"id":"cdc34202.90bd1","type":"tab","label":"Suscritor Medias","disabled":false,"info":""},{"id":"d82c0774.a5fc8","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"https://test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8c1aa8c5.1d1798","type":"telegram bot","z":"","botname":"Controlador TV","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"cf920eec.1bb8c","type":"mqtt in","z":"ff94088b.1e4ec8","name":"Luminosidad","topic":"/merakimv/Q2GV-Y4R8-5Z3L/light","qos":"2","datatype":"auto","broker":"d82c0774.a5fc8","x":110,"y":220,"wires":[["898d1ed0.9f2b98"]]},{"id":"898d1ed0.9f2b98","type":"json","z":"ff94088b.1e4ec8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":220,"wires":[["465372dc.b75b5c","5367166b.bf437"]]},{"id":"465372dc.b75b5c","type":"function","z":"ff94088b.1e4ec8","name":"Registrar Máximo","func":"var max = flow.get(\"max\") || 0.0;\nvar min = flow.get(\"min\") || Number.MAX_VALUE;\n\nif (msg.payload.lux > max) {\n    flow.set(\"max\",msg.payload.lux)\n    msg.payload.type = 1;\n} else if (msg.payload.lux < min) {\n    flow.set(\"min\",msg.payload.lux);\n    msg.payload.type = 2;\n    msg.payload.min = min\n} else {\n    msg.payload.type = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["8bfb7458.cbdd4"]]},{"id":"8bfb7458.cbdd4","type":"switch","z":"ff94088b.1e4ec8","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":300,"wires":[["fc45750e.e3d1b8"],["4258985e.d1fbb8"]]},{"id":"fc45750e.e3d1b8","type":"mqtt out","z":"ff94088b.1e4ec8","name":"Máximo","topic":"maximo_luminosidad","qos":"","retain":"","broker":"d82c0774.a5fc8","x":880,"y":260,"wires":[]},{"id":"4258985e.d1fbb8","type":"mqtt out","z":"ff94088b.1e4ec8","name":"Mínimo","topic":"minimo_luminosidad","qos":"","retain":"","broker":"d82c0774.a5fc8","x":880,"y":340,"wires":[]},{"id":"54f8b415.c715c4","type":"mqtt in","z":"1c3643f6.f3d7ec","name":"Máximos","topic":"maximo_luminosidad","qos":"2","datatype":"auto","broker":"d82c0774.a5fc8","x":140,"y":300,"wires":[["cbd53003.122f2"]]},{"id":"f103545f.8c2fe","type":"debug","z":"1c3643f6.f3d7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":300,"wires":[]},{"id":"cbd53003.122f2","type":"json","z":"1c3643f6.f3d7ec","name":"","property":"payload","action":"","pretty":false,"x":340,"y":300,"wires":[["fdeed15f.2eab9"]]},{"id":"fdeed15f.2eab9","type":"template","z":"1c3643f6.f3d7ec","name":"Formato","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"NUEVO MÁXIMO -> {{payload.lux}} LUX","output":"str","x":540,"y":300,"wires":[["f103545f.8c2fe"]]},{"id":"ce33450.3d9a438","type":"mqtt in","z":"d6ddbd5d.a63ff","name":"Minimos","topic":"minimo_luminosidad","qos":"2","datatype":"auto","broker":"d82c0774.a5fc8","x":140,"y":300,"wires":[["6f01154f.04fccc"]]},{"id":"64cd9fe7.887c58","type":"debug","z":"d6ddbd5d.a63ff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":300,"wires":[]},{"id":"6f01154f.04fccc","type":"json","z":"d6ddbd5d.a63ff","name":"","property":"payload","action":"","pretty":false,"x":340,"y":300,"wires":[["35e4a9cd.ebaab6"]]},{"id":"35e4a9cd.ebaab6","type":"template","z":"d6ddbd5d.a63ff","name":"Formato","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"NUEVO MÍNIMO -> {{payload.lux}} LUX","output":"str","x":540,"y":300,"wires":[["64cd9fe7.887c58"]]},{"id":"849438b1.80291","type":"inject","z":"ff94088b.1e4ec8","name":"Resetear Variables","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":480,"wires":[["7c28ceb8.99fe38"]]},{"id":"7c28ceb8.99fe38","type":"function","z":"ff94088b.1e4ec8","name":"Reset","func":"flow.set(\"max\",0)\nflow.set(\"min\",Number.MAX_VALUE)\nflow.set(\"acumulador\",0)\nflow.set(\"contador\",0)\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":480,"wires":[[]]},{"id":"5367166b.bf437","type":"function","z":"ff94088b.1e4ec8","name":"Calcular Media","func":"var contador = flow.get(\"contador\") || 0;\nvar acumulador = flow.get(\"acumulador\") || 0;\nvar tomas = global.get(\"tomas\") || 50;\n\nacumulador += msg.payload.lux;\n++contador;\n\nif(contador == tomas) {\n    var media = acumulador/tomas;\n    msg.payload.media = Math.round(media * 100) / 100;\n    flow.set(\"contador\", 0);\n    flow.set(\"acumulador\", 0);\n} else { \n    flow.set(\"contador\", contador);\n    flow.set(\"acumulador\", acumulador);\n    msg.payload.contador = contador;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":140,"wires":[["eadcac28.ea8ab8"]]},{"id":"6553e65f.de8ee8","type":"mqtt out","z":"ff94088b.1e4ec8","name":"Media","topic":"media_luminosidad","qos":"","retain":"","broker":"d82c0774.a5fc8","x":890,"y":140,"wires":[]},{"id":"c9ec0932.aadce8","type":"mqtt in","z":"cdc34202.90bd1","name":"Media","topic":"media_luminosidad","qos":"2","datatype":"auto","broker":"d82c0774.a5fc8","x":130,"y":360,"wires":[["36776bf2.f6a58c"]]},{"id":"895ef0cf.64052","type":"debug","z":"cdc34202.90bd1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":360,"wires":[]},{"id":"36776bf2.f6a58c","type":"json","z":"cdc34202.90bd1","name":"","property":"payload","action":"","pretty":false,"x":310,"y":360,"wires":[["c3c2443c.6dfbb8"]]},{"id":"55f86496.2b3674","type":"template","z":"cdc34202.90bd1","name":"Formato","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"MEDIA {{payload.tomas}} TOMAS -> {{payload.lux}} LUX","output":"str","x":640,"y":360,"wires":[["895ef0cf.64052"]]},{"id":"c3c2443c.6dfbb8","type":"function","z":"cdc34202.90bd1","name":"Tomas","func":"msg.payload.tomas = global.get(\"tomas\") || 50\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":360,"wires":[["55f86496.2b3674"]]},{"id":"eadcac28.ea8ab8","type":"switch","z":"ff94088b.1e4ec8","name":"","property":"payload.media","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":140,"wires":[["6553e65f.de8ee8"]]}]